body {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  justify-content: center;
  align-items: center;
  margin: 5vh;
  color:  #47072a;
  background-color: rgb(252, 237, 239);
}